* {
   font-family: 'Poppins', sans-serif;
   background-color: #a9f1f9;
}

h1 { text-align:  center; }

div {
  position: absolute;
  left: 690px;
  height: 120px;
   font-size: 100px;
}

a { }

img {
  position: absolute;
  left: 730px;
  top: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
